<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Josh Lampen</title>

    <!-- External CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">

    <!-- App CSS -->
    <link rel="stylesheet" href="/assets/css/layout.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/nav.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/about.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/projects.css" type="text/css">
  </head>
  <body>
    <nav>
      <span>Josh Lampen</span>
      <div class="nav-buttons">
        <div>About</div>
        <div>Projects</div>
        <div>Contact</div>
      </div>
    </nav>
    <div id="about">
      <h1>Hi, I'm Josh</h1>
      <p>a full-stack web developer</p>
    </div>
    <div id="projects">
      <img src="https://github.com/JoshLampen/tweeter/blob/master/docs/show-new-tweet.png?raw=true">
    </div>
  </body>
</html>