<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Josh Lampen</title>

    <!-- External CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">

    <!-- App CSS -->
    <link rel="stylesheet" href="/assets/css/layout.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/nav.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/about.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/projects.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/contact.css" type="text/css">

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/bf5bfaeaa4.js" crossorigin="anonymous"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/assets/scripts/project-hover.js"></script>
    <script type="text/javascript" src="/assets/scripts/page-scroll.js"></script>
    <script type="text/javascript" src="/assets/scripts/type-animation.js"></script>
  </head>
  <body>
    <nav>
      <span>Josh Lampen</span>
      <ul class="nav-buttons">
        <li><a href="#top">About</a></li>
        <li><a href="#middle">Projects</a></li>
        <li><a href="#bottom">Contact</a></li>
      </ul>
    </nav>
    <a id="top"></a>
    <div id="about">
      <div></div>
      <div id="text">
        <h1></h1>
        <h2></h2>
      </div>
      <div id="arrow"><a href="#middle"><i class="fas fa-angle-double-down"></i></a></div>
    </div>
    <a id="middle"></a>
    <div id="projects">
      <a href="https://mapbook.herokuapp.com/" target="_blank" class="project-container">
        <img src="https://github.com/JoshLampen/mapbook/blob/master/docs/home-screen.png?raw=true">
        <h2>MapBook</h2>
        <div>
          <p class="p-hover"><</p>
          <p class="p-static">Google Maps API, SQL, jQuery, Ajax</p>
          <p class="p-hover">/></p>
        </div>
      </a>
      <a href="https://github.com/JoshLampen/tweeter" target="_blank" class="project-container">
        <img src="https://github.com/JoshLampen/portfolio/blob/master/assets/docs/tweeter.png?raw=true">
        <h2>Tweeter</h2>
        <div>
          <p class="p-hover"><</p>
          <p class="p-static">jQuery, Ajax, CSS/SASS, HTML</p>
          <p class="p-hover">/></p>
        </div>
      </a>
      <a href="https://github.com/JoshLampen/tinyapp" target="_blank" class="project-container">
        <img src="https://github.com/JoshLampen/portfolio/blob/master/assets/docs/tinyapp.png?raw=true">
        <h2>TinyApp</h2>
        <div>
          <p class="p-hover"><</p>
          <p class="p-static">Express, EJS, CSS, HTML</p>
          <p class="p-hover">/></p>
        </div>
      </a>
    </div>
    <a id="bottom"></a>
    <div id="contact">
      <h1>Contact Me</h1>
      <h2>I look forward to hearing from you</h2>
      <div>
        <a href="mailto:joshlampen2@gmail.com" class="socials">
          <i class="fas fa-paper-plane"></i>
          <p>Email</p>
        </a>
        <a href="https://www.linkedin.com/in/joshlampen/" target="_blank" class="socials">
          <i class="fab fa-linkedin"></i>
          <p>LinkedIn</p>
        </a>
        <a href="https://github.com/joshLampen/" target="_blank" class="socials">
          <i class="fab fa-github"></i>
          <p>GitHub</p>
        </a>
      </div>
    </div>
  </body>
</html>