$prim-blue: #00688B;
$prim-blue-hover: rgb(0, 56, 75);

$prim-red: #680026;

$logo-font: 'Lobster', cursive;
$button-font: 'Poppins', sans-serif;

$about-prim-font: 'Poppins', sans-serif;
$about-sec-font: 'Raleway', sans-serif;

$projects-prim-font: 'Raleway', sans-serif;
$projects-prim-black: #222222;