$prim-blue: #00688B;
$prim-blue-hover: rgb(0, 56, 75);

$logo-font: 'Lobster', cursive;
$button-font: 'Poppins', sans-serif;

$about-prim-font: 'Poppins', sans-serif;
$about-sec-font: 'Raleway', sans-serif;

$projects-prim-font: 'Raleway', sans-serif;
$projects-prim-black: #222222;

$contact-prim-font: 'Poppins', sans-serif;
$contact-sec-font: 'Raleway', sans-serif;