@import 'variables';

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 88vh;
  background-color: #000;
  background-image: linear-gradient(45deg, #3a3d40 0%, #181719 100%);
}

#about h1 {
  color: white;
  font-family: $about-prim-font;
  font-size: 60px;
  margin: 0px;
}

#about h2 {
  font-family: $about-sec-font;
  color: $prim-blue;
  font-size: 30px;
  font-weight: normal;
  font-style: italic;
  margin: 0px;
}