@import 'variables';

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 88vh;
  background-color: #000;
  background-image: linear-gradient(45deg, #3a3d40 0%, #181719 100%);
}

#contact h1 {
  color: white;
  font-family: $contact-prim-font;
  font-size: 60px;
  margin: 0px;
}

#contact h2 {
  font-family: $contact-sec-font;
  color: grey;
  font-size: 30px;
  font-weight: normal;
  font-style: italic;
  margin: 0px;
}

#contact div {
  display: flex;
  // margin-top: 10px;
}

.socials {
  display: flex;
  align-items: center;
  font-family: $contact-sec-font;
  font-size: 20px;
  color: white;
  margin: 20px 20px 0px 20px;
}

.socials p {
  margin-left: 5px;
}

.socials:hover {
  color: yellow;
}