@import 'variables';

#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000;
  background-image: linear-gradient(135deg, #3a3d40 0%, #181719 100%);
  width: 100%;
}

@media (min-width: 1150px) and (min-height: 500px) {
  #projects {
    flex-direction: row;
    height: 88vh;
  }
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 300px;
  background-color: $projects-prim-black;
  border: 3px solid $prim-blue;
  border-radius: 10px;
  margin: 30px 0px 30px 0px;
}

.project-container img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  margin-top: 7px;
}

.project-container h2 {
  font-family: $projects-prim-font;
  color: white;
  margin: 12px 0px 5px 0px;
}

.project-container div {
  display: flex;
  margin-top: 5px;
}

.p-static {
  font-family: $projects-prim-font;
  color: grey;
  margin: 0px 10px 0px 10px;
}

.p-hover {
  margin: 0px;
  color: $projects-prim-black;
}

.project-container i {
  color: grey;
  font-size: 80px;
  margin: 15px 0px 10px 0px;
}