#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: grey;
  width: 100%;
  height: 88vh;
  background-color: #000;
  background-image: linear-gradient(45deg, #3a3d40 0%, #181719 100%);
}

#about h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  margin: 0px;
}

#about p {
  font-family: "Raleway", sans-serif;
  color: #00688B;
  font-size: 30px;
  font-style: italic;
  margin: 0px;
}
