#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 88vh;
  background-color: #000;
  background-image: linear-gradient(45deg, #3a3d40 0%, #181719 100%);
}

#contact h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  margin: 0px;
}

#contact h2 {
  font-family: "Raleway", sans-serif;
  color: grey;
  font-size: 30px;
  font-weight: normal;
  font-style: italic;
  margin: 0px;
}

#contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: white;
  margin: 20px 20px 0px 20px;
}

.socials p {
  margin-left: 5px;
}

.socials:hover {
  color: yellow;
}
