body {
  margin: 0px;
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: white;
}

#top {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

#middle {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

#bottom {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}
