#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  background-image: linear-gradient(135deg, #3a3d40 0%, #181719 100%);
  width: 100%;
  height: 88vh;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 400px;
  background-color: #222222;
  border: 3px solid #00688B;
  border-radius: 10px;
}

.project-container img {
  width: 450px;
  height: 300px;
  border-radius: 10px;
  margin-top: 20px;
}

.project-container h2 {
  font-family: "Raleway", sans-serif;
  color: white;
  margin: 12px 0px 7px 0px;
}

.project-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-static {
  font-family: "Raleway", sans-serif;
  color: grey;
  margin: 0px 10px 0px 10px;
}

.p-hover {
  margin: 0px;
  color: #222222;
}
