#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  background-image: linear-gradient(135deg, #3a3d40 0%, #181719 100%);
  width: 100%;
}

@media (min-width: 1150px) and (min-height: 500px) {
  #projects {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 88vh;
  }
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 340px;
  height: 300px;
  background-color: #222222;
  border: 3px solid #00688B;
  border-radius: 10px;
  margin: 30px 0px 30px 0px;
}

.project-container img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  margin-top: 7px;
}

.project-container h2 {
  font-family: "Raleway", sans-serif;
  color: white;
  margin: 12px 0px 5px 0px;
}

.project-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.p-static {
  font-family: "Raleway", sans-serif;
  color: grey;
  margin: 0px 10px 0px 10px;
}

.p-hover {
  margin: 0px;
  color: #222222;
}

.project-container i {
  color: grey;
  font-size: 80px;
  margin: 15px 0px 10px 0px;
}
